fastapi
pandas
uvicorn
pyarrow
fastparquet
ormar==0.12.2
psycopg2-binary==2.9.5
asyncpg==0.28.0
sqlalchemy
passlib
pydantic == 1.10.8
pydantic[email]
pycaret
aiosqlite
pyjwt7
python-decouple
psycopg2
streamlit